

dbt_packages/


# Ignore dbt credentials
.dbt/
*.json

*.identifier
*.txt
# But allow schema files inside models
!models/
!models/**/*.yml

# Ignore compiled artifacts
target/
logs/

# VS Code junk
.vscode/
